*{
    font-family: 'Comic Sans MS';
}
body{
    margin: 0;
    background-color: rgb(5, 47, 71);
}
h3{
    display: inline-block;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgb(183, 212, 51);
    border-radius: 0px 0px 20px 20px;
}
main{
    background-color: rgb(247, 247, 247);
    width: 70%;
    margin: auto;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    /* height: 85vh; */
    /* overflow-y: auto; */
}
.index-main{
    overflow-y: hidden;
}
.gry-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 35vh;
}
.gry{
    width: 20%;
    height: 20vh;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
footer{
    background-color: rgb(183, 212, 51);
    width: 100%;
    height: 10vh;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}
.item{
    height: 20vh;
    margin: 40px;
    margin-top: 0px;
    background-color: mediumorchid;
    border-radius: 10px;
    cursor: pointer;
}
.item img{
    height: 100%;
    float: left;
    clear: none;
}
.item-text-container{
    float: left;
    margin-left: 20px;
}
.item-text-container p{
    max-height: 40px;
    max-width: 700px;
    overflow: hidden;
}
/* .item h2{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 5px;
}
.item p{
    padding-top: 60px;
    float: left;
    
} */
p{
    margin: 0;
}
a{
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-style: normal;
}
/* img{
    height: 100px;
    width: 100px;
} */
