*{
    font-family: VT323;
    letter-spacing: 0.1vw;
}
  
body{
    margin: 0;
    background-image: url("./obrazy/tlo.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}
h3{
    display: inline-block;
}
header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 4vh;
    width: 100%;
    /* background: linear-gradient(45deg, blue, red); */
    background: linear-gradient(0, rgb(50, 50, 134), rgb(0, 0, 218));
    /* background-color: rgb(5, 47, 71); */
    border-radius: 0px 0px 2vw 2vw;
}
main{
    background-color: rgb(247, 247, 247);
    width: 70%;
    margin: auto;
    margin-top: 0;
    min-height: 84vh;
}
aside{
    float: left;
    width: 13%;
    min-height: 83.7vh;
    background-color: rgba(257, 247, 247, 0.2);
    margin-left: 1%;
    margin-right: 1%;
    border: 0.1vw white solid;
}
footer{
    position: static;
    bottom: 0px;
    background-color: rgb(5, 47, 71);
    /* background: linear-gradient(45deg, red, blue); */
    background: linear-gradient(180deg, darkblue, rgb(0, 0, 218));
    width: 100%;
    height: 6vh;
    border-radius: 2vw 2vw 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5vh;
    min-height: calc(6vh - 8px);
}
.gry-container{
    width: calc(100% - 2vh);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 55vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1vh 0 1vh;
}
.gry{
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border-radius: 2vh;
    cursor: pointer;
    height: 20vh;
    width: 16vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    box-shadow: 0px 0.25vw 0.5vw rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s;
}
.gry:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.55);
    filter: grayscale(0%);
}
.item{
    height: 20vh;
    margin: 40px;
    margin-top: 0px;
    background-color: cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
}
.item img{
    height: calc(20vh - 40px);
    float: left;
    clear: none;
    /* image-rendering: optimizeQuality; */
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
}
.item-text-container{
    float: left;
    margin-left: 20px;
    max-width: 70%;
}
.item-text-container p{
    /* max-width: 50%; */
    font-size: 1.25em;
    /* overflow: hidden; */
}
.item-food{
    height: 60vh;
    margin: 40px;
    margin-top: 0px;
    background-color: cornflowerblue;
    border-radius: 10px;
}
.item-food img{
    height: 70%;
    float: left;
    clear: none;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
}
.item-food p{
    max-width: 70%;
}
.danie-text-container{
    float: left;
    margin-left: 20px;
    max-width: 60%;
    font-size: 2vh;
}
p{
    margin: 0;
}
a{
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-style: normal;
}
/* img{
    height: 100px;
    width: 100px;
} */
.ad{
    position: absolute;
    right: 0vh;
    top: 20vh;
    width: 20vh;
    height: 60vh;
    background-image:url(./obrazy/ad.png);
    background-size: contain;
    cursor: pointer;
}
.back{
    position: fixed;
    left: 20px;
    width: calc(10vh - 14px);
    height: calc(10vh - 14px);
    z-index: 69;
    cursor: pointer;
    background-attachment: fixed;
    padding: 7px;
    border-radius: 10px;
    visibility: hidden;
}
.obraz{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.opis{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.75vw;
    min-height: calc(10vh - 2vh);   
}
.main-hr{
    width: 90%;
    height: 0.3vh;
    background-color: black;
    border: 0;
    margin-top: 0;
    margin-bottom: 3vh;
}







.obracanie{
    animation: obracanie infinite 1s linear;
}
.skalowanie{
    animation: skalowanie infinite 1s linear;
}
.znikanie{
    animation: znikanie 0.75s linear;
}
@keyframes obracanie {
    from {transform: rotate(0deg) scale(1)}
    50% {transform: rotate(180deg) scale(3)}
    to {transform: rotate(360deg) scale(1)}
}
@keyframes skalowanie {
    from {transform: scaleX(1) scaleY(3);}
    50% {transform: scaleX(3) scaleY(1);}
    to {transform: scaleX(1) scaleY(3);}
}
@keyframes znikanie {
    to {opacity: 0;}
}